.card-selection__close {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 1;

  display: grid;
  justify-content: center;
  align-content: center;

  background: rgba(39,0,0,.8);
}

.card-selection__card {
  max-width: calc(100% - 50px);
  margin: 0 auto;
}