@keyframes active-card {
  0% { box-shadow: 0 0 8px green; }
  35% { box-shadow: 0 0 15px lightgreen; }
  45% { box-shadow: 0 0 9px lightgreen; }
  85% { box-shadow: 0 0 15px green; }
  100% { box-shadow: 0 0 8px green; }
}

@keyframes considered-card {
  0% { box-shadow: 0 0 8px yellow; }
  35% { box-shadow: 0 0 15px brown; }
  45% { box-shadow: 0 0 9px brown; }
  85% { box-shadow: 0 0 15px yellow; }
  100% { box-shadow: 0 0 8px yellow; }
}

.players {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 2rem;
  background: #6663;

  @media(orientation: landscape) {
    flex-flow: column wrap;
    max-height: 100%;
  }
}

.player {
  display: grid;
  grid-template-areas:
    "score"
    "persona"
    "name"
    "played-cards";

  grid-template-rows: auto auto auto 1fr;
  
  padding: 5px;
  text-align: center;
}

.player-cards {
  grid-area: played-cards;
  position: relative;
  filter: grayscale(60%);
}

.player-cards__played-card {
  position: absolute;
  left: 0;
  top: 0;
}

.player-name {
  grid-area: name;

  font-weight: bold;
  line-height: 2rem;
}

.player-score {
  grid-area: score;
  line-height: 2rem;
}

.player-score__heart {
  color: darkred;
}

.player-score__empty {
  color: #fff;
}

.player-persona {
  margin: 0 auto;
}