@keyframes active-card {
  0% { box-shadow: 0 0 8px green; }
  35% { box-shadow: 0 0 15px lightgreen; }
  45% { box-shadow: 0 0 9px lightgreen; }
  85% { box-shadow: 0 0 15px green; }
  100% { box-shadow: 0 0 8px green; }
}

@keyframes considered-card {
  0% { box-shadow: 0 0 8px yellow; }
  35% { box-shadow: 0 0 15px brown; }
  45% { box-shadow: 0 0 9px brown; }
  85% { box-shadow: 0 0 15px yellow; }
  100% { box-shadow: 0 0 8px yellow; }
}

.players {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 2rem;

  @media(orientation: landscape) {
    flex-flow: column wrap;
    max-height: 100%;
  }

  &--targettable {
  }
}