.persona {
  display: grid;
  width: 100%;
  
  text-align: center;
  align-content: center;

  background: darkblue;
  color: white;
}

.persona__image {
  margin: 0 auto;
}

.players--targettable .persona--targettable {
  box-shadow: 0 0 15px yellow;
}

.players--targettable .persona--targetted {
  box-shadow: 0 0 15px red;
}

.persona__scored--empty {
  color: grey;
}

.persona__scored--filled {
  color: red;
}