.game {
  display: inline-grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);  

  grid-gap: var(--grid-gap);

  @media (orientation: landscape) {
  }
}

.status { 
  grid-row: 1 / 2; 
  grid-column: 2 / 10;
}

.players { 
  grid-row: 2 / 11;
  grid-column: 2 / 11;
}

.history {
  grid-row: 2 / 10;
  grid-column: 1 / 2;
}