.game {
  display: inline-grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  
  grid-template:
    "help    status  status  menu"
    "players players players players";
  grid-template-rows: auto 1fr;
  grid-template-columns: 50px 1fr 1fr auto;

  grid-gap: var(--grid-gap);

  @media (orientation: landscape) {
  }
}

.status { grid-area: status; }
.players { grid-area: players; }
