.history {
  --history-border: solid 2px #333;

  display: flex;
  flex-flow: column nowrap;
  flex-direction: column-reverse;

  padding: var(--grid-gap);

  background: #eee;
  border-top: var(--history-border);
  border-right: var(--history-border);
  border-bottom: var(--history-border);
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px #333;
}

.history__scrolly {
  overflow-y: scroll;
  max-height: 100%;
}

.history__round-title {
  padding: var(--grid-gap);
  margin-top: 10px;

  border: solid 2px #000;
  border-radius: 8px;

  font-size: 10px;
  background: brown;
  color: white;
  text-transform: uppercase;
  word-wrap: unset;
  font-weight: bolder;
  text-align: center;
}

.history__card-played {
  margin-top: 16px;
}

.history__card-container {
  height: m#{a}x(30px, 10vh);
  overflow: hidden;
}

.history__card, .history__image {
  width: 100%;
  height: auto;
}

.history__image {
  max-width: 75px;
  margin: 0 auto;
  display: block; 
}

.history__player {
  
}