.lobby {
  background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 22%);
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.lobby__container {
  margin: 0 auto;
  max-width: 1400px;
}

.lobby__nav {
  border-bottom: solid 2px #666;
  box-shadow: 3px 0 5px #333;
  padding-left: 1rem;
  padding-right: 1rem;

  img {
    height: 50px;
    max-width: 100%;
  }
}

.lobby__body {
  padding-left: 1rem;
  padding-right: 1rem;
}

.lobby__title {
  text-align: center;
  color: darkred;

  @media (min-width: 1400px) {
    text-align: left;
  }
}

.lobby__name-container {
  display: flex;

  label {
    flex: 1;
    text-align: right;
    padding-right: 5px;
  }

  input {
    flex: 1;
  }
}

.lobby__players-header {
  font-size: 1rem;
}

.lobby__player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.player-list__item {
  padding: 10px 5px;
  margin: 5px 0;

  &--filled {
    color: white;
    background: linear-gradient(90deg, #333 70%, darkred 100%);
  }

  &--self {
    background: linear-gradient(90deg, darkred 70%, darkred 100%);
  }

  &--empty {
    background: rgba(0,0,0,.1);
  }

  button {
    float: right;

    font-weight: bold;
    background: white;
    border: none;
    border-radius: 5px;
  }
}

.lobby__controls button {
  background: darkred;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;

  @media (min-width: 1400px) {
    display: inline-block;
    width: auto;
  }
}

.lobby__controls--non-host {
  color: #333;
  text-align: right;
}