.history-detail__close {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;

  background: rgba(39,0,0,.8);

  &--three-column {
    grid-template-columns: 1fr auto 1fr;
  }
}

.history-detail__player {
  display: flex;
  flex-flow: column nowrap;

  .history-detail__card {
    margin: 0 auto;

    
    @media(orientation: landscape) {
      
    }
  }

}

.history-detail__status {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  color: white;
  font-size: 20px;
}