.history-detail__close {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;

  background: rgba(39,0,0,.8);
}

.history-detail__card {
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 auto;

  width: 100%;
  height: auto;

  @media(orientation: landscape) {
    height: 100%;
    width: auto;
  }
}